@import "../sass/variables";

.collection-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    & > .collection {
        & > .bottom {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: start;
            width: fit-content;
            padding: 0;
        }
        & > .bottom > .collection-item {
            margin: 1em;
            background-color: transparent;
            border: none;
            & > .collection-item:active > .box {
                border: 2px solid $dark;
            }
            & > .collection-item > .box {
                margin: 0;  
            }
        }
    }
}