.input-form {
    padding: 1em;
    border-right: 2px solid $primary_font_color;
    width: 200px;
    text-align: center;
    & > form {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    & > form > input {
        width: 90%;
        border: 1px solid $primary_font_color;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 10px;
        &:focus {
            outline: none;
        }
    }
    & > form > button {
        width: 100%;
    }
    & > form > .sample-box {
        margin: 0 2em 2em 2em;
    }
}