@import "./sass/variables";

.App {
  display: grid;
  grid-template-rows:80px auto 80px;
  height: 100vh;
  & > main {
    height: 100%;
    display: grid;
    grid-template-columns: 250px auto 60px;
    padding: 1em;
  }
}

.collection-selector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  margin: 1em;
  
}
