@import "./sass/variables";

.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 1em;
  height: 90vh;
}

.collection-selector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  margin: 1em;
  
}
