.collection-grid {
  display: grid;
  grid-template-columns: auto 1fr;
}
.collection-grid > .collection > .bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  width: fit-content;
  padding: 0;
}
.collection-grid > .collection > .bottom > .collection-item {
  margin: 1em;
  background-color: transparent;
  border: none;
}
.collection-grid > .collection > .bottom > .collection-item > .collection-item:active > .box {
  border: 2px solid #555;
}
.collection-grid > .collection > .bottom > .collection-item > .collection-item > .box {
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 1em;
  height: 90vh;
}

.collection-selector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  margin: 1em;
}

body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #324759;
  background-color: #fefefe;
}

header {
  height: 100px;
  padding: 1em;
}

code {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

a {
  color: #41B983;
  text-decoration: none;
}
a:hover {
  color: #B94177;
}

.btn {
  background-color: #fefefe;
  color: #41B983;
  border: 1px solid #41B983;
  padding: 10px 15px;
  border-radius: 4px;
  min-width: 80px;
  font-weight: bold;
  margin: 5px;
}
.btn:hover {
  background-color: #41B983;
  color: #fefefe;
}
.btn:active {
  background-color: #64c99c;
  color: #fefefe;
  border: 1px solid #64c99c;
}
.btn.btn-secondary {
  background-color: #fefefe;
  color: #555;
  border: 1px solid #555;
}
.btn.btn-secondary:hover {
  background-color: #555;
  color: #fefefe;
}

.error {
  background-color: #ff6565;
  color: #fefefe;
  padding: 10px;
  border-radius: 50px;
  margin: 1em 0;
  border: 1px solid #ff0000;
  font-weight: bold;
  width: 90%;
}

.box {
  width: 80px;
  height: 90px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  transistion: background-color 0.2s ease-in-out;
  color: #fefefe;
}

.input-form {
  padding: 1em;
  height: 100%;
  margin-top: 2em;
  border-right: 2px solid #324759;
}
.input-form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-form > form > input {
  width: 90%;
  border: 1px solid #324759;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
}
.input-form > form > input:focus {
  outline: none;
}
.input-form > form > button {
  width: 100%;
}
.input-form > form > .sample-box {
  margin: 2em;
}

.notification-banner {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
  margin-bottom: 1em;
  overflow: hidden;
  display: grid;
  grid-template-columns: 10px 1fr;
}
.notification-banner > .banner-message {
  padding: 1em;
}
.notification-banner.success {
  background-color: #d3ecc9;
  color: #3c763d;
}
.notification-banner.success > .banner-header {
  background-color: #3c763d;
  width: 10px;
}
.notification-banner.error {
  background-color: #f2dede;
  color: #a94442;
}
.notification-banner.error > .banner-header {
  background-color: #a94442;
  width: 10px;
}
.notification-banner.info {
  background-color: #d9edf7;
  color: #31708f;
}
.notification-banner.info > .banner-header {
  background-color: #31708f;
  width: 10px;
}
.notification-banner.warning {
  background-color: #fcf8e3;
  color: #8a6d3b;
}
.notification-banner.warning > .banner-header {
  background-color: #8a6d3b;
  width: 10px;
}

/*# sourceMappingURL=index.css.map */
